a[class="btn btn-primary"] {
    background-color: #1c1e26;
    color: white;
    border: none;

}
a[class="btn btn-primary"]:hover {
    background-color: gray;
    
    border: none;
}
a:hover{
    background-color: gray  ;
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg');
}

label {
    color: white;
}
